footer {
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 1.3fr;
    gap: 30px;
    padding: 50px;   
    }
    
    footer{
        margin-top: 30px;
        background-color: var(--pramry-color);
    }
    footer .title{
        color:#f0c91a;
        padding-bottom: 30px;
    }
    footer p{
        font-size: 12px;
    color: darkgrey;
    }
    footer .heading{
        color: #e5e9eb;
        padding: 5px 0;
    }