.report,
.topic{
    padding: 10px 0;
}
.topic{
    display: flex;

}

.topic-details{
    padding-right: 20px;
}
.topic-title{
    font-size: 1.2em;
    color: var(--topic-color);
    transition: all 1s;
}
.topic-img{
    width: 100px;
    height: 70px;
    flex-basis: 100px;
}